name: SQUAT-API Automation CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    types: [opened, synchronize, reopened, labeled]
  workflow_dispatch:
  schedule:
    - cron: "0 1 * * *"

permissions:
  contents: write
  pull-requests: write

jobs:
  api-test:
    environment: dummy-json
    name: Run SQUAT-API Tests
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
      - name: Checkout source code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18
          cache: npm

      - name: Install dependencies
        run: npm ci

      - name: Install Playwright
        run: npx playwright install --with-deps

      - name: Run SQUAT-API Automation Test
        run: npm run test:api
        env:
          NODE_ENV: ci
          ENV: ${{ vars.ENV }}
          DUMMY_JSON_BASE_URL: ${{ vars.DUMMY_JSON_BASE_URL }}

      - name: Upload Playwright Report
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: playwright-report
          path: playwright-report

  auto-merge:
    name: Auto Merge PR
    needs: api-test
    runs-on: ubuntu-latest
    if: >
      github.event_name == 'pull_request' &&
      github.event.pull_request.base.ref == 'main' &&
      contains(github.event.pull_request.labels.*.name, 'auto-merge') &&
      github.event.pull_request.merged == false &&
      github.event.pull_request.head.repo.full_name == github.repository
    steps:
      - name: Merge PR
        uses: actions/github-script@v7
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          script: |
            const pr = context.payload.pull_request;

            const { data } = await github.rest.pulls.merge({
              owner: context.repo.owner,
              repo: context.repo.repo,
              pull_number: pr.number,
              merge_method: "squash"
            });

            if (!data.merged) {
              throw new Error("Merge failed");
            }

      - name: Delete branch
        uses: actions/github-script@v7
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          script: |
            const ref = context.payload.pull_request.head.ref;

            await github.rest.git.deleteRef({
              owner: context.repo.owner,
              repo: context.repo.repo,
              ref: `heads/${ref}`
            });
