name: SQUAT-API Automation CI

on:
  push:
    branches: [ "main" ]
  pull_request:
  workflow_dispatch:
  schedule:
    - cron: "0 1 * * *"

jobs:
  api-test:
    environment: dummy-json
    name: Run SQUAT-API Tests
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
      - name: Checkout source code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18
          cache: npm

      - name: Install dependencies
        run: npm ci

      - name: Install Playwright
        run: npx playwright install --with-deps

      - name: Run SQUAT-API Automation Test
        run: npm run test:api
        env:
          NODE_ENV: ci
          ENV: ${{ vars.ENV }}
          DUMMY_JSON_BASE_URL: ${{ vars.DUMMY_JSON_BASE_URL }}

      - name: Upload Playwright Report
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: playwright-report
          path: playwright-report
